<mat-drawer-container class="main-container">
  <mat-drawer #drawer class="side-drawer" mode="side" opened>
    <pm-sidenav />
  </mat-drawer>
  <mat-drawer-content>
    <pm-header [drawer]="drawer" />
    <div class="main-content">
      <router-outlet />
    </div>
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2023 Property Management System. All rights reserved.</p>
        <p>
          <a href="" target="_blank" rel="noopener noreferrer">Privacy Policy</a> |
          <a href="" target="_blank" rel="noopener noreferrer">Terms of Service</a>
        </p>
      </div>
    </footer>
  </mat-drawer-content>
</mat-drawer-container>
